.container{
  background-color: black;
  align-items: center;
  width: 100%;
  display: flex;
}
.h1{
  color: #ffffff
}
.navbar{
  width: 50%;
}
.ul{
 display: flex;
 justify-content: space-around;
}
.listItem{
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}